/* 公共部分 */
html {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    width: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei', 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'STHeiti', 'WenQuanYi Micro Hei', 'SimSun', sans-serif;
    font-size: 16px;
    font-smooth: auto;
    font-weight: 300;
    line-height: 1.75;
    color: #444;
    height: 100%;
    overflow-x: hidden;
}

/* header部分 */
.at-header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #2f2f2f;
    padding: 0 0 0 10px;
    border-bottom: 3px solid #E9967A;
}

.at-header-logo {
    position: relative;
    float: left;
    height: 100%;
    width: auto;
    line-height: 100%;
}

.at-header-menu {
    position: relative;
    float: right;
    padding: 0 20px 0 10px;
    height: 100%;
    width: auto;
    line-height: 100%;
    border-right: 1px solid grey;
    color: rgba(255, 255, 255, .7);
    transition: all .2s;
    -webkit-transition: all .2s;
}

.at-header-menu-end {
    position: relative;
    float: right;
    padding: 0 10px 0 10px;
    height: 100%;
    width: auto;
    line-height: 100%;
    color: rgba(255, 255, 255, .7);
    transition: all .2s;
    -webkit-transition: all .2s;
}

.at-header a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    line-height: 60px;
    font-size: 14px;
}

.at-header .at-header-logo a {
    display: block;
    text-decoration: none;
    color: #009688;
    text-align: center;
    line-height: 60px;
    padding-right: 5px;
    font-size: 22px;
}

.at-header-menu-icon {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: dashed;
    border-color: transparent;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -3px;
    border-width: 6px;
    border-top-style: solid;
    border-top-color: #fff;
    border-top-color: rgba(255, 255, 255, .7);
}

.at-header-menu-more {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    min-width: 100%;
    line-height: 36px;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    z-index: 999;
    border-radius: 3px;
    white-space: nowrap;
    list-style: none;
}

.at-header-menu .at-header-menu-more li {
    padding: 0 20px;
    text-align: center;
    list-style: none;
}

.at-header-menu .at-header-menu-more li a {
    color: inherit;
    line-height: 30px;
}

.at-header-menu-selected {
    color: white !important;
    border-bottom: 3px solid yellow !important;
}

.at-header-menu-more-select {
    background-color: white;
    color: #2f2f2f;
}

.at-header-menu-more-selected {
    color: white;
    background-color: grey;
}

.at-header-menu:hover, .at-header-menu-end:hover {
    color: white !important;
    border-bottom: 3px solid yellow !important;
}

.at-header-menu .at-header-menu-more li:hover {
    color: white;
    background-color: #5FB878;
}