.layui-main-center {
    position: absolute;
    width: 40%;
    height: 30%;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 23%;
    bottom: 0;
}

.layui-main-center .layui-form-item {
    padding: 20px 0 0 45%;
}

.layui-main-center .layui-input-block {
    margin: 0;
}

.layui-main-center .layui-input-inline {
    width: 60%;
}

.layui-logo a {
    color: inherit;
    display: block;
    font-size: 22px;
}

.layui-nav-item-iatp  {
    position: relative; display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; line-height: 60px;
}