.iatp-login {
    position: absolute;
    width: 85%;
    height: 50%;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 15%;
    bottom: 0;
}

.iatp-login-item {
    position: relative;
    width: 100%;
    padding: 20px 0 0 0;
    height: 75px;
}

.iatp-login-item-left {
    position: relative;
    float: left;
    width: 50%;
    height: 60px;
    overflow: hidden;
    text-align: right;
    padding: 10px;
}

.iatp-login-item-right {
    position: relative;
    float: left;
    width: 50%;
    height: 60px;
    overflow: hidden;
    text-align: left;
    padding: 10px;
}

.iatp-login-item-lable {
    float: right;
    width: 80px;
    font-weight: 400;
    line-height: 38px;
    text-align: right;
    color: black;
}

.iatp-login-item-input {
    display: block;
    height: 38px;
    width: 300px;
    line-height: 38px;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-radius: 3px;
    border-color: #D2D2D2;
    padding: 10px;
}

.iatp-login-item-submit {
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 15px;
}

.iatp-login-item-reset {
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 15px;
    color: #555;
    background-color: #fff;
    border: 1px solid #C9C9C9;
}

.iatp-login-item-input:focus {
    border-color: grey !important;
}

.iatp-login-item-submit:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: #fff;
}

.iatp-login-item-submit:active {
    opacity: 1;
    filter: alpha(opacity=100);
}

.iatp-login-item-reset:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    border-color: #009688;
}

.iatp-login-item-reset:active {
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: #009688;
}