<!DOCTYPE html>
<html lang="zh_CN">
<head>
    {% load staticfiles %}
    <!-- meta设置 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 网页图标 -->
    <link rel="icon" href="../static/media/icon/favicon.ico">

    <!-- 网页标题 -->
    <title>IATP</title>

    <!-- CSS -->
    <link href="../static/css/iatp.css" rel="stylesheet"/>
    <link href="../static/css/iatp-header.css" rel="stylesheet"/>
    <link href="../static/css/iatp-login.css" rel="stylesheet"/>
</head>

<body>

<!-- 导航栏 -->
<div class="iatp-header">
    <div class="iatp-header-logo">IATP测试平台</div>
    <div class="iatp-header-btn">注册</div>
    <div class="iatp-header-btn iatp-header-btn-selected">登录</div>

</div>

<!-- 主体部分 -->
<div class="iatp-main">
    <!-- 登录表单 -->
    <div class="iatp-login">
        <div class="iatp-login-item">
            <div class="iatp-login-item-left">
                <span class="iatp-login-item-lable">用户名</span>
            </div>
            <div class="iatp-login-item-right">
                <input class="iatp-login-item-input" type="text" id="username" autofocus placeholder="请输入用户名"/>
            </div>
        </div>
        <div class="iatp-login-item">
            <div class="iatp-login-item-left">
                <span class="iatp-login-item-lable">密　码</span>
            </div>
            <div class="iatp-login-item-right">
                <input class="iatp-login-item-input" type="password" id="password" placeholder="请输入密码"/>
            </div>
        </div>
        <div class="iatp-login-item">
            <div class="iatp-login-item-left"></div>
            <div class="iatp-login-item-right">
                <button class="iatp-login-item-submit" id="login-submit">登录</button>
                <button class="iatp-login-item-reset" id="login-reset">重置</button>
            </div>
        </div>
    </div>
</div>
<script src="../static/src/layui.js"></script>
<script src="../static/js/iatp-login.js"></script>
</body>
</html>